---
type link = {
  href: string;
  text: string;
};

export interface Props {
  links?: link[];
}

const { links } = Astro.props;

const path = Astro.url.pathname.slice(0, -1);

let backref = path.split("/").slice(0, -1).join("/");

if (backref === "") {
  backref = import.meta.env.BASE_URL;
}
---

<nav>
  <div>
    {
      path != backref ? (
        <a href={backref}>← back</a>
      ) : (
        <h1>
          {backref}, {path}
        </h1>
      )
    }
    {links && links.map((link) => <a href={link.href}>{link.text}</a>)}
  </div>
</nav>
<style>
  div {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
    user-select: none;
  }
  a:hover {
    text-decoration: wavy underline;
  }
</style>
